h2, h4 {
    color: white;
    
}

h2 {
    margin-top: 6%;
}

body {
	background-image: url(../assets/1.jpg); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
}


.container {
        margin-top: 20px;
    }
    
body {
    background-color: black;
	background-image: url(../assets/1.jpg);     
    }    
    
.input-group-addon {
    color: white;
    background-color: #00897B;
}    
    
.input-group {
        margin: 12px;
    }
    
div.container{
        color: #00897B;
    }
    
.btn-default {
        color: black;
        background-color: #00564D;
        border: 0px;
        width: 100%;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    
.btn-default:hover {
        color: white;
        background-color: #00897B;
    }     

.panel-default > .panel-heading {
        background-color: #00897B;
        color: white;
        border: 0px;
    }
    
 .panel-footer {
        background-color: transparent;
    }    
    
.panel-default {
        border: 0px;
    }
    
.panel-d.panel-body {
        background-color: transparent;
    }